'''
go to https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html to know how to generate PRIVATE_TOKEN

https://gitlab.com/api/v4/projects/<:id>/repository/files/<filename-with-extension>
<:id> is project id, which can be found in the settings of your gitlab repo
'''
access_token="<PRIVATE_TOKEN>"
project_id="<:id>"