<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .card{
            /* height: 350px;
            width: 350px; */
            padding: 16px;
        }
        body{
            padding: 18rem 46rem 18rem 45rem;
            background-color: #F0F2FF;
        }
        /* .base-size{
            height: 5rem;
            width: 10rem;
            margin: 1rem;
        } */
        .large-base-size{
            height: 5rem;
            width: 22rem;
            margin: 1rem;
        }
    </style>
</head>
    
<body>
    <div class="mdc-card card">
        {{ filename }}<br>
        <!-- <button name="deleteButton" value=1 type="submit" class="mdc-button base-size"> -->
            <a class="mdc-button" href="{% url 'storer:delete' filename %}">DELETE</a>
        <!-- </button> -->
        <!-- <button name="downloadButton" value=1 type="submit" disabled> -->
            <a class="mdc-button" href="{% url 'storer:download' filename %}">DOWNLOAD</a><br>
        <!-- </button> -->
    </div>
</body>