<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .card{
            /* height: 350px;
            width: 350px; */
            padding: 16px;
        }
        body{
            padding: 18rem 46rem 18rem 45rem;
            background-color: #F0F2FF;
        }
        .commit{
            color: gray;
        }
    </style>
</head>

<body>
    <div class="mdc-card card">
        <ul class="mdc-list">
            <li class="mdc-list-item">File Name : <div class="commit">Commit Message</div></li>
            {% load index %}
            {% for i in number_of_files %}
            <a href="{% url 'storer:details' file_names|index:i %}" class="mdc-list-item">
                <li>{{ file_names|index:i }} : <div class="commit">{{ commit_messages|index:i }}</div></li>
            </a>
            {% endfor %}
        </ul>
    </div>
</body>